<html>
    <head>
        <title>Chatter</title>
        <link type="text/css" rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <div class="top">
            <h1>
                Проект - Чат
            </h1>
            <p>
                Автор Александр Беликов           
            </p>
            <div id="links">
                <a href="https://github.com/abelikovstudy/">
                    <img src="/img/github.png" alt="Avatar">
                </a>
                <a href="https://vk.com/id249433875">
                    <img src="/img/vk.png" alt="Avatar">
                </a>
                <a href="https://github.com/abelikovstudy/">
                    <img src="/img/headhunter.png" alt="Avatar">
                </a>
            </div>
        </div>        
        
        <div class="center">
            <p>
                Приложение представляет собой комнату, где различные люди могут обмениваться сообщениями в режиме реального времени. Помимо текста, вы можете обмениваться изображениями и Emojies.
                Для использование приложения необходимо быть зарегестрированным пользователем. Если у вас нет аккаунта, то вы можете создать его по кнопке внизу.
            </p>
            <p>
                <button onclick="location.href='http://localhost:3500/login'">
                ВОЙТИ
                </button>
            </p>
            <p>
                <button onclick="location.href='http://localhost:3500/register'">
                ЗАРЕГЕСТРИРОВАТЬСЯ
                </button>
            </p>
        </div>        
        
        <div class="bottom">
            <p>
                Данное приложение использует:
            </p>
            <ul>
                <li> 
                    <p>
                    NodeJS и ExpressJS для реализации сервера.
                    </p>
                </li>

                <li>
                    <p>
                    Socket.IO для работы многопоточного чата 
                    </p>
                </li>

                <li>
                    <p>
                    MongoDB для хранения базы данных пользователей 
                    </p>
                </li>

                <li>
                   <p>
                    Vanilla HTML & CSS для реализации интерфейса 
                   </p>
                </li>
            </ul>
        </div>
    </body>
</html>